{% extends 'base.html' %}
{% block title %}新聞媒體{% endblock %}
{% block content %}
<div class="row mt-5">
    {% for link in news_link %}
    <div class="col-6 col-sm-4">
        <div class="card">
            <h5 class="card-header">{{link.name}}</h5>


            <div class="card-body">

                <p class="card-text">{{link.summary}}</p>
                <a href="{{link.link}}" target="_blank" class="btn btn-primary">前往新聞</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</div>
{% endblock %}