/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main>.container {
  padding: 60px 15px 0;
}

/* Modify the background color */

.navbar-custom {
  background-color: #00315C;
}

.bg-custom {
  background: #024A7B;

}

/* Modify brand and text color */